<div class= "image-popup">
  <%= cl_image_tag(buddy.user.photo.key) %>
</div>
<div class= "text-popup">
  <div class= "description-popup">
    <h3><%= buddy.user.name %></h3>
    <p>📍<%= buddy.city %></p>
    <% if buddy.user.sex == "male" %>
                  <p> 👨 <%= buddy.user.sex %></p>
                  <% else %>
                  <p> 👩  <%= buddy.user.sex %></p>
                  <% end %>
    <p>👉 <%= buddy.category %></p>
  </div>
  <div class="d-flex justify-content-center">
              <%= link_to "choose", buddy_path(buddy), class:"btn-choose text-center"%>
            </div>
</div>
