

<div class="container-show">
  <div class="profile">
    <div class="image">
      <%= cl_image_tag @buddy.photo.key%>
    </div>
    <div class="name">
      <h2><%= @buddy.user.name %></h2>
    </div>
    <div class="age">
      <p><%= @buddy.user.age %></p>
    </div>
    <div class="description">
      <p><%= @buddy.description %></p>
    </div>
    <div class="city">
      <p>📍<%=  @buddy.city %></p>
    </div>
    <%= link_to "Create a reservation for #{@buddy.user.name}", buddy_create_reservation_path(@buddy), data: {turbo_method: :post}, class:"btn-resa"%>
  </div>
</div>
